.todo-item-container {
    display: flex;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    width: 100%;
    background: white;
}

.todo-item {
    width: 90%;
    margin-left: 5px;
}

.todo-options {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img {
        height: 30px;
        aspect-ratio: 1;
    }
}

.edit-btn {
    border-top-right-radius: 9px;
    &:hover {
        background-color: grey;
    }
}

.delete-btn {
    border-bottom-right-radius: 9px;
    &:hover {
        background-color: grey;
    }
}